/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap'); */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.register-row .row>*{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.form-head {
    margin-top: 120px;
    padding-left: 115px !important;
    padding-right: 115px !important;
}

.form-head h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-top: 24px;
}

.form-content {
    padding-left: 115px !important;
    padding-right: 115px !important;
    background-color: #FFFFFF;
    
}

.form-content button {
    width: 100%;
    background: #181818;
    border-radius: 16px;
    margin-top: 16px;
    padding: 12px 24px;
}

.form-content label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    color: #222222;
}

.form-content input {
    background: #ffffff;
    border: 1px solid #D0D0D0 ;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 12px 24px;
}


.btn-back {
    display: inline;
    background-color: #fff !important;
    color: #000 !important;
    margin-top: -5px !important;
}

.btn-masuk {
  color: #ffffff;

}

.btn-masuk:hover {
    background-color: #d1d0d0 !important;
    color: #000;
    border: 1px solid #000 ;
    box-sizing: border-box;
    border-radius: 16px;
}



/* END Kelompok 3 */

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}
/* enable absolute positioning */
.input-group {
  position: relative;
}

.icon {
  padding: 10px;
  min-width: 50px;
  position: absolute;
  /* border: 1px solid #D0D0D0 ; */
  right: 0px;
  padding: 10px;
  pointer-events: none;

}

.akun {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 150% */

    color: #000000;
    margin-top: 24px; 
}

.akun a {
    color: #737373 !important;
    text-decoration: none;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

