#desc-seller {
  margin-top: 30px;
  border-radius: 20px;
}

#desc-seller .card-body {
  margin: 20px;
}

.card-body .judul {
  margin-bottom: 25px;
}

/* .btn button {
  background-color: #181818 ;
  te
  border:none;
  hover: #fafafa;
  background-hover: #fafafa; 
}

.card-body-2 {
  font-family: "Poppins";
  margin-bottom: 20px;
} */

/* .profil {
  margin-bottom:20px;
} */

@media only screen and (max-width: 567px) {
  #desc-seller {
    margin-top: 16px !important;
  }
  #produk-card-seller {
    margin-top: -16px !important;
  }
}
