.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  background: #fff;
  color: #000;
  border-color: #999;
}

.isi {
  display: none;
}

input,
select,
button,
textarea {
  border-radius: 16px !important;
}

.arrow-left {
  position: absolute;
  /* // top: 2.5rem; */
  left: 25%;
  background-color: #ffff;
  border: none;
}

.container-card {
  max-width: 40%;
}

.image-editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  /* border: 1px solid #ced4da; */
  color: #ced4da;
  border-radius: 12px;
  width: 96px;
  height: 96px;
  cursor: pointer;
  font-size: large;
  /* stroke-dasharray: 15%2c 10; */
  /* margin: 0rem 0.5rem 0rem 0rem; */
}

.selected-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ced4da;
  border-radius: 12px;
  width: 96px;
  height: 96px;
  cursor: pointer;
  margin: 0rem 0.5rem 0rem 0rem;
  border: 1px solid #ced4da;
}

.inputFoto {
  border-style: none !important;
}

@media only screen and (max-width: 1280px) {
  .container-card {
    max-width: 80%;
  }
  .arrow-left {
    position: relative;
    left: 0%;
    display: block;
    margin-bottom: 5%;
  }
}
