.btn-category {
  background-color: #fafafa;
  color: #181818;
  border-radius: 12px !important;
  margin-right: 16px;
  width: 90% !important;
}

.btn-category:focus {
  background-color: #181818;
  color: #fafafa;
}

/* .btn-category:hover {
  background-color: #181818;
  color: #fafafa;
} */

.btn-category:active {
  background-color: #181818;
  color: #fafafa;
}
