/** @format */

.category-title {
  margin-top: 40px;
}

.btn-category-filter {
  background-color: #fafafa;
  color: #181818;
  border: #181818 1px solid;
  border-radius: 12px !important;
  margin-right: 16px;
}

.btn-category-filter:focus {
  background-color: #181818;
  color: #fafafa;
}
.btn-category-filter:hover {
  background-color: #181818;
  color: #fafafa;
}
.btn-category-filter-slider {
  width: 90% !important;
  background-color: #fafafa;
  color: #181818;
  border: #181818 1px solid;
  border-radius: 12px !important;
  margin-right: 16px;
}

.btn-category-filter-slider:active {
  background-color: #181818;
  color: #fafafa;
}

.btn-category-filter-slider:hover {
  background-color: #181818 !important;
  color: #fafafa !important;
}
