/** @format */

.category-title {
  margin-top: 40px;
}

.btn-category-filter {
  background-color: #fafafa;
  color: #181818;
  border: #181818 1px solid;
  border-radius: 12px !important;
  margin-right: 16px;
}

.btn-category-filter:active {
  background-color: #181818;
  color: #fafafa;
}
.btn-category-filter:hover {
  background-color: #181818;
  color: #fafafa;
}
